@use "sass:map";
@use "sass:math";
@use "sass:string";

.colgap {
  // 1. Base column-gap utility classes (.colgap-01 to .colgap-40)
  @for $i from 1 through 40 {
    // $num: $i / 10;
    $num: math.div($i, 10);
    $val-str: if($i % 10 == 0, "#{$num}.0", "#{$num}");

    $part1: string.slice($val-str, 1, 1);
    $part2: string.slice($val-str, 3, 4);

    &-#{$part1}#{$part2} {
      grid-column-gap: #{$num}rem !important;
    }
  }

  // 2. Responsive column-gap utility classes (.colgap-01-lg, .colgap-15-md, etc.)
  @each $bp in map.keys($breakpoints) {
    @include breakpoint($bp) {
      @for $i from 1 through 40 {
        // $num: $i / 10;
        $num: math.div($i, 10);
        $val-str: if($i % 10 == 0, "#{$num}.0", "#{$num}");
        $part1: string.slice($val-str, 1, 1);
        $part2: string.slice($val-str, 3, 4);

        &-#{$part1}#{$part2}-#{$bp} {
          grid-column-gap: #{$num}rem !important;
        }
      }
    }
  }
}