/* ====================================================
   Grid Child
==================================================== */

//https://learncssgrid.com/

// An Auto-Filling CSS Grid With Max Columns of a Minimum Size
// https://css-tricks.com/an-auto-filling-css-grid-with-max-columns/


.grid{
    &>.fullwidth {
        grid-column: 1 / -1;
    }

    @for $i from 1 through 12 {
        &>.fr#{$i} {
            grid-column-end: span #{$i};
        }
        @include xl{
            &>.fr#{$i}-xl {
                grid-column-end: span #{$i};
            }
        }
        @include lg{
            &>.fr#{$i}-lg {
                grid-column-end: span #{$i};
            }
        }
        @include md{
            &>.fr#{$i}-md {
                grid-column-end: span #{$i};
            }
        }
        @include sm{
            &>.fr#{$i}-sm {
                grid-column-end: span #{$i};
            }
        }
        @include xs{
            &>.fr#{$i}-xs {
                grid-column-end: span #{$i};
            }
        }
        @include us{
            &>.fr#{$i}-us {
                grid-column-end: span #{$i};
            }
        }
    }
}
