
$rmValues: '0.1' '0.2' '0.3' '0.4' '0.5' '0.6' '0.7' '0.8' '0.9' '1.0' '1.1' '1.2' '1.3' '1.4' '1.5' '1.6' '1.7' '1.8' '1.9' '2.0' '2.1' '2.2' '2.3' '2.4' '2.5' '2.6' '2.7' '2.8' '2.9' '3.0' '3.1' '3.2' '3.3' '3.4' '3.5' '3.6' '3.7' '3.8' '3.9' '4.0';

@mixin create-row-gap-in-rem($device) {
    @each $value in $rmValues{
        $part1: str-slice($value, 1, 1); //when $value = '0.50', it returns '0'
        $part2: str-slice($value, 3, 4) ; //when $value = '0.50', it returns '50'
        &-#{$part1}\.#{$part2}#{$device}{
            grid-row-gap:#{$value} + 'rem';
        }
    }
}

.rowgap{
    @include create-row-gap-in-rem("");
    @include small{
        @include create-row-gap-in-rem("-sm");
    }
    @include large{
        @include create-row-gap-in-rem("-lg");
    }
}